body {
  font-family: Tohama, Helvetica, Arial, sans-serif;
  background-color: #344952;
  color: #ecf0f1;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", serif; }

.shape, .shape1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 18px;
  background-color: #7799a8;
  border: 1px solid #6a90a1; }
